{% block content %}

 <fieldset>
    <h3>What is your First Name?</h3>
    <input type='text' name='firstname' placeholder="First Name" value="{{ appointment.firstname }}">
    
    <h3>What is your Last Name?</h3>
    <input type='text' name='lastname' placeholder="Last Name" value="{{ appointment.lastname }}" >
    
    <h3>What is your Street Address?</h3>
    <input type='text' name='address' placeholder="Enter your Address" value="{{ appointment.address }}">

    <h3>What is your City?</h3>
    <input type='text' name='city' placeholder="Enter your City" value="{{ appointment.city }}">

    <h3>What is your State?</h3>
    <input type='text' name='state' placeholder="Enter your State" value="{{ appointment.state }}">

    <h3>What is your Zip Code?</h3>
    <input type='text' name='zipcode' placeholder="Enter your Zip Code" value="{{ appointment.zipcode }}">
    
    <br><br>
    
    <!--User can select a date and time for their apppointment-->
    <h3>Appointment Date: <input type="date" name="bday" value="{{ appointment.bday }}" ></h3><br>

    <h3>What time in the evening is good for you?</h3>
    <select name="time" form="form">
    <option value="5:00pm">5:00pm</option>
    <option value="5:30pm">5:30pm</option>
    <option value="6:00pm">6:00pm</option>
    <option value="6:30pm">6:30pm</option>
    </select>
    <br> 
    
    <!--User Can Select a Service-->
    <h3>Select a plant service?</h3>
    <label class="checkbox-inline">
    <input type="checkbox" id="watering" name="service" value="Watering"> Watering<br><br>
    </label>

    <label class="checkbox-inline">
    <input type="checkbox" id="fertilizing" name="service" value="Fertilizing"> Fertilizing<br><br>
    </label>

    <label class="checkbox-inline">
    <input type="checkbox" id="repotting" name="service" value="Repotting"> Repotting<br><br>
    </label><br><br>

</fieldset>
{% endblock %}