.button-container {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.hero {  
   background-image: url('../home_pic.jpg');
   height: 100vh;
   width: 100vw;
   position: relative;
   background-repeat: round;
}

.footer {
    bottom: 0px;
    position: relative;
    width:100%;
}

.home_button {
    background: linear-gradient(#18A800, #0C4803);
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    opacity: 80%;
    margin: 3px;
    height:40px;
    width: 100px;
}

 .book {
    position: absolute;
    /* width: 474px;
    height: 800px; */
    left: 29px;
    bottom: 500px;
 }

 .book-button {
    background: linear-gradient(#18A800, #0C4803);
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    opacity: 80%;
    margin: 3px;
    height:50px;
    width: 200px;
    text-align: center ;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    line-height: 50px;
    
 }

 .logo {
    font-family: 'Ubuntu', sans-serif;
    /* position: absolute;
    width: 357px;
    height: 66px;
    left: 36px; */
    top: calc(50% - 66px/2 - 963.5px);

/* ss */


    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.05em;
    color: #18A800;

 
    

 }

.book_appointment {
    color: blue
}