<!-- templates/appointment_edit.html -->
{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center;" >
        <form id="form" method='POST' action='/appointment/{{appointment._id}}'>
            <input type='hidden' name='_method' value='POST'/>
        {% include 'partials/form.html' %}
            <div class='form-group'>
                <a href="/">Cancel</a>
            </div>
            <input type='submit' value='Save Edit'>

        </form>
    </div>

{% endblock %}