<!-- templates/appointment_edit.html -->
{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{appointment.firstname}} {{appointment.lastname }}</h5>
        <p class="card-text"> {{appointment.address }}</p>
        <a href='/appointment/{{appointment._id}}/edit' class="btn btn-primary">Edit</a>
        <form method='POST' action='/appointment/{{ appointment._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form>
    </div>
</div>

{% endblock %}